body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-image: url(https://wallpaperplay.com/walls/full/6/9/9/54512.jpg#.XlGewdlY2e8.link);
  background-position: fixed;
  background-repeat: no-repeat;
  opacity: 0.8;  
}

.h1 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: antiquewhite;
}

label {
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: bold;
}

button {
  background-color: transparent;
  color: aliceblue;
  font-size: 14px;
  text-align: center;
  border: 2px solid aliceblue;
}

.SignIn {

  text-align: center;
  background-color:rgba(37, 23, 23, 0.972);
  padding: 100px 300px;
  position: fixed;
  bottom:25%;
  left:25%;
  margin-top: -50px;
  margin-left: -50px;
  
  background-image: url();
  height: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
